<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="appUrl" value="Test"/>
  </appSettings>
  
  <configSections>
    <section name="Configuration" type="Tests.Environment.Configuration, Tests"/>
  </configSections>

  <Configuration>
    <EnvironmentName>Production</EnvironmentName>
  </Configuration>

</configuration>