<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- Need to use full reference with [namespace].[typename], [assembly] -->
    <!-- The section name will need to be teh same as the classname for deserialization to work -->
    <section name="Configuration" type="Speed_Server.Configuration, Speed_Server"/>
  </configSections>

  <Configuration>
    <EnvironmentName>Production</EnvironmentName>
  </Configuration>

</configuration>